<div class="container" style="padding-top: 100px">

  <div class="col-sm-4 col-sm-offset-4">

    <div class="text-center  animated fadeInDown">
      <div>

        <form [formGroup]="resetForm" class="m-t" role="form" novalidate (ngSubmit)="onSubmit()">

          <div class="alerts" [ngSwitch]="alertType">

            <ngb-alert type="danger" *ngSwitchCase="'unexpected'">
              An unexpected error occurred
            </ngb-alert>

            <ngb-alert type="danger" *ngSwitchCase="'unauthorized'">
              Invalid access token, <a [routerLink]="'/request-password-reset'">please retry here</a>
            </ngb-alert>

            <ngb-alert type="danger" *ngSwitchCase="'invalid_token'">
              Invalid access token, <a [routerLink]="'/request-password-reset'">please request again</a>.
            </ngb-alert>

            <ngb-alert type="success" *ngSwitchCase="'success'">
              Your password has been successfully updated. <a [routerLink]="'/login'">Go to login</a>
            </ngb-alert>

            <ngb-alert [type]="messageType" *ngSwitchCase="'error'">
              {{ message }}
            </ngb-alert>

          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="passwordConfirm">
          </div>

          <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="resetForm.disabled">
            Reset password
          </button>

        </form>


      </div>
    </div>
  </div>
</div>


