<div class="container" style="padding-top: 100px">

  <div class="col-sm-4 col-sm-offset-4">

    <div class="text-center animated fadeInDown">
      <div>
        <h4> Request password reset</h4>

        <form [formGroup]="resetForm" class="m-t" role="form" style="padding-top: 10px" novalidate (ngSubmit)="onSubmit()">

          <ngb-alert [type]="messageType" *ngIf="message">
            <strong>{{ message }}</strong>
          </ngb-alert>


          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>

          <button type="submit" class="btn btn-primary block full-width m-b" style="margin-bottom: 10px">
            Request reset
          </button>
          <br>

          <a routerLink="/login"><small>Login</small></a>

        </form>
      </div>
    </div>
  </div>
</div>





