<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>

    <form [formGroup]="resetForm" class="m-t" role="form" novalidate (ngSubmit)="onSubmit()">

      <ngb-alert [type]="messageType" *ngIf="message">
        <strong>{{ message }}</strong>
      </ngb-alert>


      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>

      <button type="submit" class="btn btn-primary block full-width m-b">Request reset</button>

      <a routerLink="/login"><small>Login</small></a>

    </form>
  </div>
</div>
